@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }

  button {
    align-items: center !important;
  background-color: #ff6900 !important;
  font-weight: bolder !important;
  border: 2px solid #111 !important;
  border-radius: 8px !important;
  box-sizing: border-box !important;
  color: #111 !important;
  cursor: pointer !important;
  display: flex !important;
  font-family: Inter,sans-serif !important;
  font-size: 16px !important;
  height: 48px !important;
  justify-content: center !important;
  line-height: 24px !important;
  max-width: 100% !important;
  padding: 0 25px !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  }

  button:after {
    background-color: #111 !important;
    border-radius: 8px !important;
    content: "" !important;
    display: block !important;
    height: 48px !important;
    left: 0 !important;
    width: 100% !important;
    position: absolute !important;
    top: -2px !important;
    transform: translate(8px, 8px) !important;
    transition: transform .2s ease-out !important;
    z-index: -1 !important;
  }

  button:hover:after {
    transform: translate(0, 0) !important;
  }
  
  button:active {
    background-color: #ffdeda !important;
    outline: 0 !important;
  }
  
  button:hover {
    outline: 0 !important;
  }
  
  @media (min-width: 768px) {
    button {
      padding: 0 40px !important;
    }
  }